@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  color: #222 !important;
}
.dark {
  color: #fff !important;
}
.profile-text {
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 100%;
  padding-top: 5px;
}
.ReactSelectFlags-module_container__SFuNT
  .ReactSelectFlags-module_selectWrapper__I7wcI
  .ReactSelectFlags-module_buttonSelect__CxH4w {
  background: transparent !important;
}
.ReactSelectFlags-module_container__SFuNT
  .ReactSelectFlags-module_selectWrapper__I7wcI
  .ReactSelectFlags-module_searchSelect__O6Fp2,
.ReactSelectFlags-module_container__SFuNT
  .ReactSelectFlags-module_selectWrapper__I7wcI
  .ReactSelectFlags-module_buttonSelect__CxH4w {
  border: none !important;
  border-radius: 0px !important;
  padding: 2px 45px 2px 30px !important;
  font-size: 14px !important;
}
main.dark {
  .ReactSelectFlags-module_option__vTJ3Z {
    color: #222 !important;
  }
  .ReactSelectFlags-module_closeIcon__t4cEW,
  .ReactSelectFlags-module_openIcon__Bgn1- {
    fill: #bdbbbb !important;
  }
}
.mob,
.trans-bg {
  display: none;
}
@media screen and (max-width: 900px) {
  .menu {
    position: fixed;
    top: 0;
    left: -240px;
    width: 240px;
    height: 100%;
    z-index: 999;
    background: #000;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
  }
  .menu li {
    color: #fff;
  }
  .nav-open {
    left: 0;
  }
  .mob {
    display: block;
    margin-right: 10px;
  }
  .trans-bg {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    background: rgba(0, 0, 0, 0.8);
  }
}
